/* Mobile */
@media screen and (max-width: 766px) {
	
	.CampaignDetailView .web {
		display: none;
	}
	
	.campaign-detail_title {
		padding: 3.7%;
		flex-direction: column;
		align-items: baseline;
	}
	.campaign-detail_buttons {
		padding: 3.7%;
	}
		
	.influencer-cards__container .influencer_card {
		display: flex;
		justify-content: center;
	}
}