/* starting iPad mini 7.9" */
@media only screen and (min-width: 767px) { 
	.CampaignDetailView .web {
		display: inline-block;
	}
	
	.campaign-detail_title {
		padding-top: 1.5%;
		padding-bottom: 1.5%;
	}
	
	.campaign-detail_buttons {
		padding-top: 3.7%;
		padding-bottom: 3.7%;
	}
	
	.influencer-cards__container {
		grid-template-columns: repeat(4, 1fr);
		column-gap: 2.5%;
		
	}
}

/* until iPad Pro 10.5" */
@media only screen and (min-width: 1023px) {  
	.influencer-cards__container {
		grid-template-columns: repeat(5, 1fr);
		column-gap: 2.5%;
	}
}
