/* *** Style Sheet for FilterModal only for mobile *********************************** */
@media screen and (max-width: 766px) {
	.FilterModal > .content__div {
		background-color: #F9FAFF;
		height: 100%;
		box-sizing: border-box;
		padding: 3.7%
	}

	.FilterModal .mobile.title__hbox {
		padding-right: 3.7%;
		box-sizing: border-box;
		padding-left: 3.7%;
	}
}