
.App-Content_wrapper .auth-form__container { 
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* Overwrite Mui Styles */
.Mui-focused fieldset {
	border-color:  rgba(60, 63, 68, 0.2)!important
}


label.MuiInputLabel-outlined.Mui-focused {
	color: rgba(60, 63, 68, 0.7)!important
}

.auth-form__container .buttons__div > .MuiFormControlLabel-root > .MuiTypography-root{
	font-family: 'Fira Sans', sans-serif!important;
	color: rgba(60, 63, 68, 0.7) ;
}

.LoginForm .buttons__div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	font-family: 'Fira Sans', sans-serif!important;
}

.auth-form__container .MuiFormControl-root {
	min-width: 100%;
}

.ForgotPasswordForm .buttons__div {
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	margin-top: 3.7%;
}
.ChangePasswordForm .buttons__div {
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	margin-top: 3.7%;
}

.LoginForm .redirect-links {
	width: 100%;
	text-align: center;
	margin-top: 3.7%;
}

/* Mobile Phones */
@media screen and (max-width: 766px) {
	.auth-form__container {
		width: 100%
	}
	.LoginForm {
		padding: 1vh 3vw 1vh 3vw ;
	}
}

/* Mobile Tablets */
@media only screen and (min-width: 767px) {
	.auth-form__container {
		min-width: 35%
	}
}
/* Web */
@media only screen and (min-width: 1100px) {
 .RegisterForm {
		width: 55% ;
	}
}