.dashboard-split {
	background: #F9FAFF; /* Old browsers */
	background: -moz-linear-gradient(bottom,  #F9FAFF 0%, #F9FAFF 40%, #ffffff 40%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, bottom left, top right, color-stop(0%,#F9FAFF), color-stop(40%,#F9FAFF), color-stop(40%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom,  #F9FAFF 0%,#F9FAFF 40%,#ffffff 40%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(bottom,  #F9FAFF 0%,#F9FAFF 40%,#ffffff 40%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(bottom,  #F9FAFF 0%,#F9FAFF 40%,#ffffff 40%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #F9FAFF 0%,#F9FAFF 40%,#ffffff 40%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9FAFF', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.dashboard-container {
	/* border: 1px solid blue; */
	padding: 10vh 10vw 10vh 10vw;
	background-color: #F9FAFF;

}

.dashboard-tab_pannels .MuiBox-root {
	padding: 0%;
}

.dashboard-title {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(60, 63, 68, 0.1);
}

.campaigns-title__tabpanel {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 3.7%;
}

.content-header {

}

/* Sub Tabnavigation Styling */
.navigation-container{
	display: grid;
	grid-template-columns: 15% 50%;
	grid-template-areas: "tabs price";
	justify-items: flex-start;
	height: 10vh;
	border-bottom: 1px solid rgba(60, 63, 68, 0.1);
}

.navigation-container .MuiButtonBase-root {
	/* margin-right: 10%!important; */
}

.navigation-container .MuiTabs-flexContainer {
	justify-content: space-between;
}

@media screen and (max-width: 766px) {
	.dashboard-title {
		padding: 3.7%;
	}
	
	.campaigns-title__tabpanel {
		padding: 3.7%;
	}
}