/* *** Style Sheet for Marketplace only for Web *********************************** */

@media only screen and (min-width: 1100px) { 
	.mobile, .tablet {
		display: none;
	}

	.Marketplace {
		display: flex;
		width: 100%;
		box-sizing: border-box;
		padding: 3.7%;
	}
	
	.Marketplace .filterBy-container { /* this is filter container */
		width: 30%;
		display: flex;
	}
	
	.Marketplace .infleuncers-container {
		box-sizing: border-box;
		width: 100%;
	}
	
	.Marketplace .infleuncers-container .marketplace-header {
		padding: 1.7% 3.7% 1.7% 3.7%;
		display: flex;
		justify-content: space-between ;
	}

	.Marketplace .infleuncers-container .marketplace-header .sortby-subheader__div {
		display: inline-block;
	}
	
	.styles_kPagination__1qVvD {
		width: inherit;
		padding: 0;
	}
	
	.paglist__container {
		/* width: 100%; */
		box-sizing: border-box;
		display: grid;
		grid-template-columns: repeat(4, 1fr); 
		grid-column-gap: 3.7%;
		grid-row-gap: 20px;
		padding: 0 3.7% 3.7% 3.7%;
	}
	
	
	.paglist__container> ul {
		grid-column: 1 / span 4;
	}
	.mp-influencer__card {
		cursor: pointer;
	}
}