/* ********** Default Main Style************** */
.brief-info__subcontainer {
	box-sizing: border-box;
	width:100%
}

.influencer-metrics__container {
	width: 100%;
	box-sizing: border-box;
}

.info-right {
	box-sizing: border-box;
}

.brief-info__container {
	box-sizing: border-box;
	padding: 3.7%;
}

.BriefView .MuiAlert-standardInfo {
	background-color: rgb(251, 240, 255);
}

.BriefView .MuiAlert-standardInfo .MuiAlert-icon {
	color: rgb(141, 6, 255);
}


/* ************* Mobile small screen **************** */
@media screen and (max-width: 766px) {
	.influencer-info__container {
		flex-direction: column;
	}

	.influencer-info__container .info {
		width: 100%;
		padding: 3.7%;
	}

	.influencer-info__container .info-right {
		margin-left: 3.7%;
		display: grid;
		row-gap: 2vh;
	}

	.mobile.buttons {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.BriefView .web *{
		display: none;
	}

	.BriefView .mobile.buttons > div {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.BriefView .mobile.buttons .borderDiv {
		margin: 0;
	}

	.BriefView .mobile.buttons .buttons__container .brief_status {
		width: unset!important;
	}

	.BriefView .mobile.buttons .buttons__container .brief_status #status-dropDown {
		margin-right: unset!important;
	}

	.influencer-metrics__container {
		display: grid;
		grid-template-columns: 65% 35%;
		column-gap: 3.7%;
		grid-template-rows: auto;
		row-gap: 20px;
	}

	.brief-info__subcontainer {
		display: grid;
		grid-auto-rows: auto;
		row-gap: 5vh;
	}

	.creatives__container {
		background-color: #fff;
	}
}

/* ************* Tablet screen **************** */
@media only screen and (min-width: 767px) {
	.BriefView .web {
		display: block;
	}

	.BriefView .mobile {
		display: none;
	}
	.BriefView .influencer-info__container {
		/* border: 1px solid salmon; */
		flex-direction: row;
	}

	.influencer-info__container > .info {
		width: 50%
	}

	.influencer-info__container  .info-right {
		margin-left: 3.7%;
		display: grid;
		row-gap: 2vh;

	}

	.influencer-info__container .Card {
		/* border: 2px solid slateblue; */
		width: 50%;
	}

	.influencer-metrics__container {
		display: grid;
		grid-template-columns: 65% 35%;
		row-gap: 20px;
	}

	.brief-info__subcontainer {
		display: grid;
		grid-template-columns: repeat(2, 1fr) [last-col] 1fr;
		column-gap: 3.7%;
		row-gap: 3.4vh;
	}

	.brief-info__subcontainer .buttons__container {
		grid-column: last-col;
	}

	.brief-info__subcontainer .buttons__container .brief_status {
		width: unset!important;
	}

}

@media only screen and (min-width: 1100px) {
	.influencer-info__container {
		justify-content: space-between;
	}
	.brief-info__container {
		padding-left: 0;
	}

	.influencer-info__container .Card {
		width: 40%;
		padding: 1.7%;
	}

	.influencer-metrics__container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: 100%;
	}

	/* .buttons__container {
		justify-content: flex-end!important;
	} */

	.creatives__container {
		margin-top: 3.7%;
	}

	.creatives__subcontainer {
		padding: unset!important;
	}
}
