/* Styles for creatives mobile */
@media screen and (max-width: 766px) {
	.Creatives {
		row-gap: 15px;
	}

	.CreativeModalView { 
		overflow-y: scroll;
		width: 100%;
		max-height: 100%;
		height: auto;
		margin: 0;
		position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		outline: 0
	}
	
	.metric-caption{
		padding-top: 3.7%;
		display:grid;
	}
	.metric-caption .caption {
		padding-top: 0.4%;
	}
	
	.CreativeModalView .close-icon {
		width: 12px!important;
		height: 12px!important;
	}
}