.rdrCalendarWrapper.rdrDateRangeWrapper {
	z-index: 1;
	width: 158%;
	height: 97%;
	box-shadow: -14px -14px 20px rgba(209, 217, 230, 0.08), 14px 14px 20px rgba(209, 217, 230, 0.3);
	
}

.rdrMonth {
	width: inherit!important;
}

/* ****** Create Campaign Styles ********* */

/* *********** Mobile Responsive ***************** */

@media screen and (max-width: 766px) {
	.create-campaign__card {
		width:100%
	}
}
.dateRange-wrap {
	width: 59%
}

@media only screen and (min-width: 768px) { 
	.dateRange-wrap {
		width: 31%;
	}
}

@media only screen and (min-width: 1024px) { 
	.dateRange-wrap {
		width: 14%;
	}
	
	.create-campaign__card {
		width: 50%;
		padding: 4.06%!important;
	}
}