/* *** Style Sheet for Marketplace only for tablet *********************************** */

@media only screen and (min-width: 767px) { 

	 .filterBy-container{
		display: none;
	} 

	.Marketplace .infleuncers-container .marketplace-header .sortby-subheader__div {
		display: none;
	}

	.Marketplace .infleuncers-container .marketplace-header{
		padding-left: 3.7%;
	}

	.searchForm {
		background-color: #F9FAFF;
		padding: 3.7%;
		box-shadow:
		1px 1px 20px rgba(209, 217, 230, 0.4),
		-18px -18px 20px rgba(209, 217, 230, 0.08);
		border-radius: 8px;
	}
	
	.tooltip-content {
		padding-left: 2%;
	}
	
	.paglist__container{ 
		display: grid;
		/* grid-template-columns: auto 50%; */
		grid-template-columns: repeat(2, 1fr);
		column-gap: 3.7%;
		padding: 3.7%;
		row-gap: 25px;
	}
	
	.paglist__container > ul {
		grid-column: 1 / span 2;
	}
}