@import 'VCard.css';
@import 'mobile.css';
@import 'tablet.css';

.InfluencerProfilePage .influencer-info__container {
	box-sizing: border-box;
	width: 100%;
}
.influencerProfile__mobile {
	width: 100%;
	height: auto;
}

.mobile-container {
	width: inherit;
	box-sizing: border-box;
	margin-top: 3.27%;
}

.influencer-info {
	display: flex;
	justify-content: flex-start;
	margin-left: 4.69%;
	box-sizing: border-box;
}

.info-container {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: space-between;
	
}

	.topics-cats__container {
		padding: 1.5% 0 1.5% 0 ;
	}
	
	.topics-cats__container .categories_hbox {
		margin-right: 3.7%;
		
	}

.info_right {
	margin-left: 5%
}

.info-container div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	/* margin-top:  4.67%; */
}

.info-container div span:nth-child(1) {
	/* margin-top: 5.57%; */
}

.invite_btn__container {
	width: inherit;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 7.4%;
	/* padding-right: 4%; */
	box-sizing: border-box;
}
.channels {
	margin-top: 7.87%;
}
.box .channel {
	flex-direction: row!important;
}

.channel_info {
	margin-left: 3.33%;
}

p.about {
	text-align: left;
	background-color: #F9FAFF;
}

.InfluencerProfilePage .topics-card {
	margin-top: 3.7%;
}

.InfluencerProfilePage .topic-card__content {
	box-sizing: border-box;
	width: 100%;
}

.InfluencerProfilePage .price-container {
	width: 100%;
	box-sizing: border-box;
}

 .Card.prices-card {
	margin-top: 3.7%;	 
	padding: 1.7%;
 }

.chart-card {
	 margin-top: 5.78%;
}

@media only screen and (min-width: 767px) {
	.Card.chart-card {
		max-width: 58%;
	}
	
	.InfluencerProfilePage .web {
		display: none;
	}
	
	p.about {
		background-color: transparent;
	}
}

@media only screen and (min-width: 1100px) {
	.influencerProfile__mobile {
		display: none!important;
	}
	.InfluencerProfilePage .web {
		display: block;
	}
	
}