@media only screen and (min-width: 767px) {
	
	.InfluencerProfilePage .mobile *{
		display: none;
	}
	
	.InfluencerProfilePage .influencer-info__container {
		display: grid;
		/* border: green 1px solid; */
		grid-template-columns: 58% 42%;
		padding-bottom: 3.7%;
		border-bottom: 1px solid rgba(60, 63, 68, 0.08);;
	}
	.InfluencerProfilePage .VCard-hbox {
		width: 60%;
	}
	
	.InfluencerProfilePage .VCard-hbox .vcard__right-container {
		margin-left: 3.5%;
		width: 75%;
	}
	
	.InfluencerProfilePage .topics-cats__container {
		flex-direction: row;
		align-items: center;
		box-sizing: border-box;
		align-content: center;
		width: 70%
	}
	
	.InfluencerProfilePage .info-container div span:nth-child(1) { /* <span> {categories} </span> */
		margin-bottom: 0;
		/* margin-right: 3.7%; */
	}
	
	.InfluencerProfilePage .about__container {
		box-sizing: border-box;
	}
	
	.InfluencerProfilePage .about__container > p {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.InfluencerProfilePage .Card.card-with-socials {
		height: fit-content;
	}

	.InfluencerProfilePage .report {
		/* margin-top: 3.7%; */
		width: 60%;
		box-sizing: border-box;
		padding-top: 0;
	}
	
	.InfluencerProfilePage .report span:nth-child(2) {
		margin-left: 1.5%/* 3.33%; */
	}
	
	.InfluencerProfilePage .Card.topics-card {
		padding: 1.5%;
		width: 100%;
	}
	
	.InfluencerProfilePage .topic-card__content {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	
	.InfluencerProfilePage .topics-container {
		display: flex;
		width: 100%;
		flex-direction: row;
		margin-left: 1.7%;
		flex-wrap: wrap;
	}
	
	
	.InfluencerProfilePage .price-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
	}
	
	.InfluencerProfilePage .price-container > span {
		width: 150px;
		/* margin-right: 2.7%; */
	}
	
	.InfluencerProfilePage .price-container .prices {
		display: grid;
		width: 100%;
		grid-template-columns: repeat(3, 150px);
		row-gap: 15px;
	}
	
	.InfluencerProfilePage .price-container .prices .price-item {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	
	.InfluencerProfilePage .price-container .prices .price-item > span {
		margin-right: 3.7%;
	}
}